.tableWrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
}
td {
  width: 50%;
  height: 175px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
}